# Project specific
docs/.build
lightnet/version.py

# Python specific
__pycache__/
*.py[cod]
*.egg-info
*.so
*.o

# macOS specific
.DS_Store

build/
develop-eggs/
dist/
eggs/

pip-log.txt
pip-delete-this-directory.txt

examples/yolo-voc/*.tar
examples/yolo-voc/data/
examples/yolo-voc/backup/
examples/yolo-voc/darknet19_448.conv.23
examples/yolo-voc/best_pr.log

examples/*/backup/
examples/*/darknet19_448.conv.23
examples/*/data/
examples/*/test.log
examples/*/train.log

